[submodule "graduation-projects/handwriting-personality-framewrok"]
	path = graduation-projects/handwriting-personality-framewrok
	url = https://github.com/deryayigit/handwriting-personality-framewrok.git
